<div class="my-page11-mainpage" ng-controller="page11StateMainCtrl">
	<!-- 3d背景图片与动画 -->

		<!-- 动画循环播放，加载后自动播放 -->
	<!-- 风机1 -->
	<video ng-show="RelayState[0]"
		src="/view/page1_state/page11_video/fengji_1_110x110_gai_3279-236.mp4" 
		loop="loop" 
		autoplay="autoplay"
		class="my-page11-fan1"
		page11-set-position 
        pos-top="236" 
        pos-left="3279" 
        parent-width="4096" 
        parent-height="2304" 
        my-widht="110" 
        my-height="110" >
	</video>
	<!-- 风机2 -->
	<video ng-show="RelayState[1]"
		src="/view/page1_state/page11_video/fengji_2_110x120_gai_3454-266.mp4" 
		loop="loop" 
		autoplay="autoplay"
		class="my-page11-fan1"
		page11-set-position 
        pos-top="266" 
        pos-left="3454" 
        parent-width="4096" 
        parent-height="2304" 
        my-widht="110" 
        my-height="120" >
	</video>
	<!-- 风机3 -->
	<video ng-show="RelayState[2]"
		src="/view/page1_state/page11_video/fengji_3_120x120_gai_3655-310.mp4" 
		loop="loop" 
		autoplay="autoplay"
		class="my-page11-fan1"
		page11-set-position 
        pos-top="310" 
        pos-left="3655" 
        parent-width="4096" 
        parent-height="2304" 
        my-widht="120" 
        my-height="120" >
	</video>
	<!-- 风机4 -->
	<video ng-show="RelayState[3]"
		src="/view/page1_state/page11_video/fengji_4_130x130_gai_3851-347.mp4" 
		loop="loop" 
		autoplay="autoplay"
		class="my-page11-fan1"
		page11-set-position 
        pos-top="347" 
        pos-left="3851" 
        parent-width="4096" 
        parent-height="2304" 
        my-widht="130" 
        my-height="130" >
	</video>

	<!-- div -->
	<!-- 自动实时的温度变化图 
	<div class="my-page11-wenduChat-current" id="line-chart" ng-controller="page11_LineCtrl_wenduDay">    
    	显示温度的图表
		<canvas id="line" 
      		class="chart chart-line" 
            click="onClick" 
            hover="onHover"
            series="ocw.series"
			data="ocw.data" 
			labels="ocw.labels" 
 
            options="{
				scaleShowHorizontalLines: true,
				scaleShowVerticalLines: true,
				tooltipTemplate: '<%= value %> $',
				responsive: true,
				pointDot : false,
				scaleShowLabels : false,
				scaleOverride:true,
				scaleSteps : 5,
				scaleStepWidth : 10,
				scaleStartValue : 0,
				pointHitDetectionRadius : 3,
				scaleGridLineWidth:0.4,
			}"
		>
       </canvas>
        显示温度的数值 
        <span class="my-page11-textwendu"><i class="icon-wendu"></i>{{wenduCurrent}}℃</span>
    </div>
    -->
    <!-- 一个风机组状态面板用来显示当前有哪些风机组是运行的 -->
    <div class=" my-page11-RelayPan">	
		<div class="panel panel-default">
			<div class="panel-heading">
				继电器实时状态
			</div>
	  		<div class="panel-body my-page11-RelayPan-body">
	  				<!-- p 里面是类似于风机组1，照明1，照明2的继电器类型-->
			    	<div><p>{{relayModetoName(Relay_1)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[0]]"></div></div>
			    	<div><p>{{relayModetoName(Relay_2)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[1]]"></div></div>
			    	<div><p>{{relayModetoName(Relay_3)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[2]]"></div></div>
					<div><p>{{relayModetoName(Relay_4)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[3]]"></div></div>
					<div><p>{{relayModetoName(Relay_5)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[4]]"></div></div>
					<div><p>{{relayModetoName(Relay_6)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[5]]"></div></div>
					<div><p>{{relayModetoName(Relay_7)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[6]]"></div></div>
					<div><p>{{relayModetoName(Relay_8)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[7]]"></div></div>

					<div><p>{{relayModetoName(Relay_9)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[8]]"></div></div>
			    	<div><p>{{relayModetoName(Relay_10)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[9]]"></div></div>
			    	<div><p>{{relayModetoName(Relay_11)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[10]]"></div></div>
					<div><p>{{relayModetoName(Relay_12)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[11]]"></div></div>
					<div><p>{{relayModetoName(Relay_13)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[12]]"></div></div>
					<div><p>{{relayModetoName(Relay_14)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[13]]"></div></div>
					<div><p>{{relayModetoName(Relay_15)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[14]]"></div></div>
					<div><p>{{relayModetoName(Relay_16)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[15]]"></div></div>

					<div><p>{{relayModetoName(Relay_17)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[16]]"></div></div>
			    	<div><p>{{relayModetoName(Relay_18)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[17]]"></div></div>
			    	<div><p>{{relayModetoName(Relay_19)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[18]]"></div></div>
					<div><p>{{relayModetoName(Relay_20)}}</p><div ng-class="{1:'my-page11-RelayPan-On',0:'my-page11-RelayPan-Off'}[RelayState[19]]"></div></div>
	  		</div>
		</div>
    </div>

    <!-- 一个透明面板,请求resetful得到温度，湿度，时间，日龄，通风等级 -->
    <div class="my-page11-pan">
		<div class="panel panel-default">
				<!-- Default panel contents -->
			<div class="panel-heading">
				<span>{{Year}}-{{Month}}-{{Day}}  {{Hour}}:{{Min}}:{{Sec}}</span>
				<span class="pull-right">日龄:{{GDay}}</span>
			</div>
	  		<div class="panel-body my-pan-body">
	  			<div class="my-page11-pan-wendu">
	  				<span ng-bind="TemAvg">11</span>℃&nbsp&nbsp&nbsp
	  				<p class="my-page11-modeshow">控制模式:{{CtrMode}}</p>
	  			</div>
	  			<div class="my-page11-pan-other">
	  				<p>通风等级：{{FanLevel}}</p>
	  				<p>当前湿度：<span ng-bind="HumiAvg">11</span>%</p>
	  				<p>目标温度：{{TargetTem}}℃</p>
	  			</div>
	  		</div>
		</div>
	</div>
</div>


