<!-- 环境控制器的第二个页面，显示历史数据 -->
<div class="my-page12-mainpage">
	<!-- ====================================================--> 
	<!-- 24小时温度曲线 colours="ocw.colours"--> 
	<!-- ====================================================--> 
	<div class="my-page12-wenduChat-day" id="line-chart" ng-controller="page12_LineCtrl_wenduDay">
	    <div class="panel panel-default">
	        <div class="panel-heading">24小时温度曲线</div>
	        <div class="panel-body">
	            <canvas id="line" 
	          		class="chart chart-line" 
	          		legend="flase"
	                click="onClick" 
	                hover="onHover"
	                series="series"
					data="data" 
					labels="labels" 


	                options="{
        				scaleShowHorizontalLines: true,
        				scaleShowVerticalLines: true,
        				tooltipTemplate: '<%= value %> $',
        				responsive: true,
        				pointDot:true
    				}"
					>
	            </canvas>
	       </div>
	    </div>
	</div>
	<!-- ====================================================--> 
	<!-- 一个月内最大最小平均温度曲线 datasetFill: false不填充颜色-->
	<!-- ====================================================-->  
	<div class="my-page12-wenduChat-month" id="line-chart" ng-controller="page12_LineCtrl_wenduMonth">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	        	<span>月平均，最高，最低温度</span>
	        	<!-- 按钮用于刷新数据 -->
				<a href=""><span class="glyphicon glyphicon-refresh my-page12-reflashDate pull-right" ng-class="{'my-page12-rotate':isRotate}" ng-click="reflashData()" aria-hidden="true"></span></a>
	        </div>
	        <div class="panel-body">
	            <canvas id="line" 
	          		class="chart chart-line" 
	          		legend="flase"
	                click="onClick" 
	                hover="onHover"
	                series="ocw.series"
					data="ocw.data" 
					labels="ocw.labels" 
					colours="ocw.colours"
	                options="{
        				scaleShowHorizontalLines: true,
        				scaleShowVerticalLines: true,
        				tooltipTemplate: '<%= value %> $',
        				responsive: true,
        				datasetFill: false,
        				scaleOverride:true,
        				scaleSteps:4,
        				scaleStartValue:15,
        				scaleStepWidth:5,
    				}"
					>
	            </canvas>
	       </div>
	    </div>
	</div>
	<!-- ====================================================--> 
		<!-- 24小时内湿度曲线图--> 
	<!-- ====================================================--> 
	<div class="my-page12-shiduChat-day" id="line-chart" ng-controller="page12_LineCtrl_shiduDay">
	    <div class="panel panel-default">
	        <div class="panel-heading">24小时湿度</div>
	        <div class="panel-body">
	            <canvas id="line" 
	          		class="chart chart-line" 
	          		legend="flase"
	                click="onClick" 
	                hover="onHover"
	                series="series"
					data="data" 
					labels="labels" 
					options="{
        				scaleOverride:true,
        				scaleSteps:8,
        				scaleStartValue:50,
        				scaleStepWidth:5,
    				}"
					>
	            </canvas>
	       </div>
	    </div>
	</div>
	<!-- ====================================================--> 
			<!-- 30日日龄内湿度内湿度曲线--> 
	<!-- ====================================================--> 
	<div class="my-page12-shiduChat-month" id="line-chart" ng-controller="page12_LineCtrl_shiduMonth">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	        	<span>月平均湿度</span>
				<a href=""><span class="glyphicon glyphicon-refresh my-page12-reflashDate pull-right" ng-class="{'my-page12-rotate':isRotate}" ng-click="reflashData()" aria-hidden="true"></span></a>
	        </div>
	        <div class="panel-body">
	            <canvas id="line" 
	          		class="chart chart-line" 
	          		legend="flase"
	                click="onClick" 
	                hover="onHover"
	                series="series"
					data="data" 
					labels="labels"
					options="{
        				datasetFill: false,
        				scaleOverride:true,
        				scaleSteps:10,
        				scaleStartValue:50,
        				scaleStepWidth:5,
    				}" 
					>
	            </canvas>
	       </div>
	    </div>
	</div>
</div>

