<div class="my-page11-mainpage">
	<!-- 自动实时的温度变化图 -->
	<div class="my-page11-wenduChat-current" id="line-chart" ng-controller="page11_LineCtrl_wenduDay">    
    	<!-- 显示温度的图表 -->
        <canvas id="line" 
      		class="chart chart-line" 
            click="onClick" 
            hover="onHover"
            series="ocw.series"
			data="ocw.data" 
			labels="ocw.labels" 

            options="{
				scaleShowHorizontalLines: true,
				scaleShowVerticalLines: true,
				tooltipTemplate: '<%= value %> $',
				responsive: true,
				pointDot : false,
				scaleShowLabels : false,
				scaleOverride:true,
				scaleSteps : 5,
				scaleStepWidth : 10,
				scaleStartValue : 0,
				pointHitDetectionRadius : 3,
				scaleGridLineWidth:0.4,
			}"
			>
        </canvas>
        <!-- 显示温度的数值 -->
        <span class="my-page11-textwendu"><i class="icon-wendu"></i>{{wenduCurrent}}℃</span>
    </div>

    	<!-- 自动实时的湿度度变化图 -->
	<div class="my-page11-shiduChat-current" id="line-chart" ng-controller="page11_LineCtrl_wenduDay">    
    	<!-- 显示温度的图表 -->
        <canvas id="line" 
      		class="chart chart-line" 
            click="onClick" 
            hover="onHover"
            series="ocw.series"
			data="ocw.data" 
			labels="ocw.labels" 

            options="{
				scaleShowHorizontalLines: true,
				scaleShowVerticalLines: true,
				tooltipTemplate: '<%= value %> $',
				responsive: true,
				pointDot : false,
				scaleShowLabels : false,
				scaleOverride:true,
				scaleSteps : 5,
				scaleStepWidth : 10,
				scaleStartValue : 0,
				pointHitDetectionRadius : 3,
				scaleGridLineWidth:0.4,
			}"
			>
        </canvas>
        <!-- 显示温度的数值 -->
        <span class="my-page11-textwendu"><i class="icon-wendu"></i>{{wenduCurrent}}℃</span>
    </div>
</div>


