<div class="my-page13-mainpage">
	<!-- 通风等级表 -->
	<div class="my-page13-tongfengClass">
		<div  class="panel panel-default">
			<div class="panel-heading">通风等级表</div>
			<div class="panel-body" style="padding:0px;">
				<table class="table table-bordered table-condensed table-striped ">
					<thead>
						<tr>
							<th>级别</th>
							<th>风机组</th>
							<th>开(分钟)</th>
							<th>关(分钟)</th>
							<th>温差℃</th>
							<th>侧风窗(%)</th>
							<th>幕帘(%)</th>
							<th>变频风机(%)</th>
							<th>卷帘1(%)</th>
							<th>卷帘2(%)</th>
							<th>卷帘3(%)</th>
							<th>卷帘4(%)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
						</tr>
						<tr>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
						</tr>
												<tr>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
						</tr>
												<tr>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
						</tr>
												<tr>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
						</tr>
												<tr>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
						</tr>
												<tr>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
						</tr>
												<tr>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
							<th>0</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
