<div class="my-page13-mainpage">
	<!-- 第一个表通风等级表 -->
	<div  class="panel panel-default my-page13-tongfengClass" ng-controller="page13_wenduTableCtrl">
		<div class="panel-heading my-page13-panelhead" >
			<span>通风等级表</span>
			<button type="button" class="btn btn-primary btn-sm my-page13-floatright" ng-click="uploadData()">保存设置</button>
		</div>
		<div class="panel-body" style="padding:0px;">
		<div class="my-page13-scroll">
			<table class="table table-bordered table-striped ">
				<thead>
					<tr>
						<th>级别</th>
						<th>风机组</th>
						<th>开(分钟)</th>
						<th>关(分钟)</th>
						<th>温差℃</th>
						<th>侧风窗(%)</th>
						<th>幕帘(%)</th>
						<th>变频风机(%)</th>
						<th>卷帘1(%)</th>
						<th>卷帘2(%)</th>
						<th>卷帘3(%)</th>
						<th>卷帘4(%)</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="d in data.WindTables">
						<th>{{$index+1}}</th>
						<!-- 用勾选的的方式选择风机组 -->
						<th editable-checklist="fenjistat[$index]" e-ng-options="s.value as s.text for s in fenjistats" onaftersave="onafterSetFan($index)">{{fenjistat[$index]}}</th>
						<th editable-text="data.WindTables[$index].On" e-style="width:100px">{{d.On}}</th>
						<th editable-text="data.WindTables[$index].Off" e-style="width:100px">{{d.Off}}</th>
						<th editable-text="data.WindTables[$index].DTemp" e-style="width:100px">{{d.DTemp}}</th>
						<th editable-range="data.WindTables[$index].SideWindow" e-step="1" e-style="width:100px">{{d.SideWindow}}</th>
						<th editable-range="data.WindTables[$index].Curtain" e-style="width:100px">{{d.Curtain}}</th>
						<th editable-range="data.WindTables[$index].VSFan" e-style="width:100px">{{d.VSFan}}</th>
						<th editable-range="data.WindTables[$index].Roller1" e-style="width:100px">{{d.Roller1}}</th>
						<th editable-range="data.WindTables[$index].Roller2" e-style="width:100px">{{d.Roller2}}</th>
						<th editable-range="data.WindTables[$index].Roller3" e-style="width:100px">{{d.Roller3}}</th>
						<th editable-range="data.WindTables[$index].Roller4" e-style="width:100px">{{d.Roller4}}</th>
					</tr>
				</tbody>
			</table>
		</div>	
		</div>
	</div>

	<!--============================================== -->
	<!-- 第二个表温度曲线表 -->
	<!--============================================== -->
	<div  class="panel panel-default my-page13-wenduCurve" ng-controller="page13_wenduCurveCtrl">
		<div class="panel-heading my-page13-panelhead">
			<span>温度曲线图</span>
			<!-- 按钮用于切换图表显示还是表格显示 -->
			<a href=""><span class="glyphicon glyphicon-sort my-page13-changeTab" ng-click="changeTabChat()" aria-hidden="true"></span></a>
		</div>
		<div class="panel-body" style="padding:0px;">
			<table ng-if="ifShowTab" class="table table-bordered table-condensed table-striped " >
				<thead>
					<tr>
						<th>序号</th>
						<th>日龄</th>
						<th>目标温度</th>
						<th>加热温度</th>
						<th>制冷温度</th>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="n in Days track by $index">
						<th>{{$index+1}}</th>
						<th>{{n}}</th>
						<th>{{Targets[$index]}}</th>
						<th>{{Heats[$index]}}</th>
						<th>{{Cools[$index]}}</th>
					</tr>
				</tbody>
			</table>
			<!-- 图表显示通风等级曲线图 一开始是不显示-->
			<div class="my-page13-tongfengCurve" ng-if="ifShowCurve">
				<canvas id="line" 
	          		class="chart chart-line" 
	          		legend="flase"
	                click="onClick" 
	                hover="onHover"
	                series="CurveData.series"
					data="CurveData.data" 
					labels="CurveData.labels" 

	                options="{
        				scaleShowHorizontalLines: true,
        				scaleShowVerticalLines: true,
        				tooltipTemplate: '<%= value %> $',
        				responsive: true,
        				datasetFill: false
    				}"
					>
	            </canvas>
			</div>
		</div>
	</div>
	<!--============================================== -->
		<!-- 第三个表最小最大通风等级表 -->
	<!--============================================== -->
	<div  class="panel panel-default my-page13-WindLevel" ng-controller="page13_WindLevelCtrl">
		<div class="panel-heading my-page13-panelhead">
			<span >通风等级</span>
			<!--  -->
			<!-- 按钮用于切换图表显示还是表格显示 -->
			<a href=""><span class="glyphicon glyphicon-sort my-page13-changeTab" ng-click="changeTabChat()" aria-hidden="true"></span></a>
			
			 
		</div>
		<div class="panel-body" style="padding:0px;">
			<!-- 表格显示温度曲线图 -->
			<table ng-if="ifShowTab" class="table table-bordered table-condensed table-striped ">
				<thead>
					<tr>
						<th>序号</th>
						<th>日龄</th>
						<th>最小通风级别</th>
						<th>最大通风级别</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="n in Day track by $index">
						<th >{{$index+1}}</th>
						<th editable-text="Day[$index]" onaftersave="test()" e-style="width:100px">{{n}}</th>
						<th editable-text="Min[$index]" onaftersave="test()" e-style="width:100px">{{Min[$index]}}</th>
						<th editable-text="Max[$index]">{{Max[$index]}}</th>
					</tr>
				</tbody>
			</table>
			<!-- 图表显示通风等级曲线图 一开始是不显示-->
			<div class="my-page13-tongfengCurve" ng-if="ifShowCurve">
				<canvas id="line" 
	          		class="chart chart-line" 
	          		legend="flase"
	                click="onClick" 
	                hover="onHover"
	                series="CurveData.series"
					data="CurveData.data" 
					labels="CurveData.labels" 

	                options="{
        				scaleShowHorizontalLines: true,
        				scaleShowVerticalLines: true,
        				tooltipTemplate: '<%= value %> $',
        				responsive: true
    				}"
					>
	            </canvas>
			</div>

		</div>
	</div>
</div>

