<div class="my-page11-mainpage">
	<!-- 3d背景图片与动画 -->

		<!-- 动画循环播放，加载后自动播放 -->
	<!-- 风机1 -->
	<video 
		src="/view/page1_state/page11_video/fengji_1_110x110_gai_3279-236.mp4" 
		loop="loop" 
		autoplay="autoplay"
		class="my-page11-fan1"
		page11-set-position 
        pos-top="236" 
        pos-left="3279" 
        parent-width="4096" 
        parent-height="2304" 
        my-widht="110" 
        my-height="110" >
	</video>
	<!-- 风机2 -->
	<video 
		src="/view/page1_state/page11_video/fengji_2_110x120_gai_3454-266.mp4" 
		loop="loop" 
		autoplay="autoplay"
		class="my-page11-fan1"
		page11-set-position 
        pos-top="266" 
        pos-left="3454" 
        parent-width="4096" 
        parent-height="2304" 
        my-widht="110" 
        my-height="120" >
	</video>
	<!-- 风机3 -->
	<video 
		src="/view/page1_state/page11_video/fengji_3_120x120_gai_3655-310.mp4" 
		loop="loop" 
		autoplay="autoplay"
		class="my-page11-fan1"
		page11-set-position 
        pos-top="310" 
        pos-left="3655" 
        parent-width="4096" 
        parent-height="2304" 
        my-widht="120" 
        my-height="120" >
	</video>
	<!-- 风机4 -->
	<video 
		src="/view/page1_state/page11_video/fengji_4_130x130_gai_3851-347.mp4" 
		loop="loop" 
		autoplay="autoplay"
		class="my-page11-fan1"
		page11-set-position 
        pos-top="347" 
        pos-left="3851" 
        parent-width="4096" 
        parent-height="2304" 
        my-widht="130" 
        my-height="130" >
	</video>

	<!-- 自动实时的温度变化图 
	<div class="my-page11-wenduChat-current" id="line-chart" ng-controller="page11_LineCtrl_wenduDay">    
    	显示温度的图表
		<canvas id="line" 
      		class="chart chart-line" 
            click="onClick" 
            hover="onHover"
            series="ocw.series"
			data="ocw.data" 
			labels="ocw.labels" 
 
            options="{
				scaleShowHorizontalLines: true,
				scaleShowVerticalLines: true,
				tooltipTemplate: '<%= value %> $',
				responsive: true,
				pointDot : false,
				scaleShowLabels : false,
				scaleOverride:true,
				scaleSteps : 5,
				scaleStepWidth : 10,
				scaleStartValue : 0,
				pointHitDetectionRadius : 3,
				scaleGridLineWidth:0.4,
			}"
		>
       </canvas>
        显示温度的数值 
        <span class="my-page11-textwendu"><i class="icon-wendu"></i>{{wenduCurrent}}℃</span>
    </div>
    -->
    <!-- 一个透明面板,请求resetful得到温度，湿度，时间，日龄，通风等级 -->
    <div class="my-page11-statepan" ng-controller="page11StatepanCtrl">
        <p>日龄：{{GDay}} 通风等级：{{FanLevel}}</p>
    	<p>控制器时间:{{Year}}-{{Month}}-{{Day}}  {{Hour}}:{{Min}}:{{Sec}}</p>
    	<div class="my-page11-wenshidu"><i class="icon-wendu"></i><span ng-bind="TemAvg">11</span>℃</dvi>
    	<div class="my-page11-wenshidu"><i class="icon-wendu"></i><span ng-bind="HumiAvg">11</span>%</div>
    	
    </div>



</div>


