<div class="my-p1-body" ng-controller="page1mainCtrl">
	<div class="my-p1-stateshow">
		<!-- 温度 -->
		<div class="my-p1-stateaddr1 my-p1-stateshow-same">
			<span class="icon-wendu my-p1-iconsize"></span>
			<!-- 图标iconmoon -->
			<div class="my-p1-cardtext">
				<!-- 显示温度值的图标 -->
				<span>温度</span>
				<br/>
				<span>{{wenduvalue}}℃</span>
				<br/>
			</div>
			<div class="my-p1-ringstate">
				<!-- 圆环状态条 -->
				<ringstate stvalue='wenduvalue' 
					min-stvalue='10' 
					max-stvalue='80' 
					></ringstate>
			</div>
		</div>
		<!-- 湿度 -->
		<div class="my-p1-stateaddr2 my-p1-stateshow-same">
			<span class="icon-shidu my-p1-iconsize"></span>
			<!-- 图标iconmoon -->
			<div class="my-p1-cardtext">
				<!-- 显示温度值的图标 -->
				<span>湿度</span>
				<br/>
				<span>{{shiduvalue}}%</span>
				<br/>
			</div>
			<div class="my-p1-ringstate">
				<!-- 圆环状态条 -->
				<ringstate stvalue='shiduvalue' 
					min-stvalue='10' 
					max-stvalue='80' 
					></ringstate>
			</div>
		</div>
		<!-- 光照 -->
		<div class="my-p1-stateaddr3 my-p1-stateshow-same">
			<span class="icon-guangzhao my-p1-iconsize"></span>
			<!-- 图标iconmoon -->
			<div class="my-p1-cardtext">
				<!-- 显示温度值的图标 -->
				<span>光照</span>
				<br/>
				<span>{{guangzhaovalue}}Lx</span>
				<br/>
			</div>
			<div class="my-p1-ringstate">
				<!-- 圆环状态条 -->
				<ringstate stvalue='guangzhaovalue' 
					min-stvalue='10' 
					max-stvalue='80' 
					></ringstate>
			</div>
		</div>
		<!-- 氨气 -->
		<div class="my-p1-stateaddr4 my-p1-stateshow-same">
			<span class="icon-anqi my-p1-iconsize"></span>
			<!-- 图标iconmoon -->
			<div class="my-p1-cardtext">
				<!-- 显示温度值的图标 -->
				<span>氨气</span>
				<br/>
				<span>{{anqivalue}}ppm</span>
				<br/>
			</div>
			<div class="my-p1-ringstate">
				<!-- 圆环状态条 -->
				<ringstate stvalue='anqivalue' 
					min-stvalue='10' 
					max-stvalue='80' 
					></ringstate>
			</div>
		</div>
	</div>
	<div class="my-p1-sliderbar">
		<sliderbar  wendu-md='wenduvalue'></sliderbar>
	</div>
</div>