<!-- 环境控制器的主要导航页面 -->
<div class="my-page1-main" ng-controller="page1_MainCtrl">
	<!-- 左侧导航条 -->
	<div class="my-page1-left-nav">
		<a class="my-page1-left-nav-button" ng-class="{'my-page1-left-nav-button-select':currentIndexNum===0}" ng-click="showMain(0)"><!-- currentIndexNum===0如果当前的选择索引是0 -->
			<span><i class="fa fa-pencil fa-fw "></i>状态监控</span>
		</a>
		<a class="my-page1-left-nav-button" ng-class="{'my-page1-left-nav-button-select':currentIndexNum===1}" ng-click="showMain(1)">
			<span><i class="fa fa-pencil fa-fw "></i>历史数据</span>
		</a>
		<a class="my-page1-left-nav-button" ng-class="{'my-page1-left-nav-button-select':currentIndexNum===2}" ng-click="showMain(2)">
			<span><i class="fa fa-pencil fa-fw "></i>配置查看</span>
		</a>
	</div>
	<div class="my-page1-mainShow" ng-include="mainShow.url">
		
	</div>
</div>