<div class="my-page11-mainpage">
	<!-- 3d背景图片与动画 -->

		<!-- 动画循环播放，加载后自动播放 -->
	<video 
		src="/view/page1_state/page11_video/fengji1.mp4" 
		loop="loop" 
		autoplay="autoplay"
		class="my-page11-fan1"
		page11-set-position 
        pos-top="236" 
        pos-left="3279" 
        parent-width="4096" 
        parent-height="2304" 
        my-widht="110" 
        my-height="110" >
	</video>
	<!-- 自动实时的温度变化图 -->
	<div class="my-page11-wenduChat-current" id="line-chart" ng-controller="page11_LineCtrl_wenduDay">    
    	<!-- 显示温度的图表 -->
		<canvas id="line" 
      		class="chart chart-line" 
            click="onClick" 
            hover="onHover"
            series="ocw.series"
			data="ocw.data" 
			labels="ocw.labels" 
 
            options="{
				scaleShowHorizontalLines: true,
				scaleShowVerticalLines: true,
				tooltipTemplate: '<%= value %> $',
				responsive: true,
				pointDot : false,
				scaleShowLabels : false,
				scaleOverride:true,
				scaleSteps : 5,
				scaleStepWidth : 10,
				scaleStartValue : 0,
				pointHitDetectionRadius : 3,
				scaleGridLineWidth:0.4,
			}"
		>
       </canvas>
        <!-- 显示温度的数值 -->
        <span class="my-page11-textwendu"><i class="icon-wendu"></i>{{wenduCurrent}}℃</span>
    </div>

    	<!-- 自动实时的温度变化图 -->
	<div class="my-page11-shiduChat-current" id="line-chart" ng-controller="page11_LineCtrl_wenduDay">    
    	<!-- 显示温度的图表 -->
		<canvas id="line" 
      		class="chart chart-line" 
            click="onClick" 
            hover="onHover"
            series="ocw.series"
			data="ocw.data" 
			labels="ocw.labels" 
 
            options="{
				scaleShowHorizontalLines: true,
				scaleShowVerticalLines: true,
				tooltipTemplate: '<%= value %> $',
				responsive: true,
				pointDot : false,
				scaleShowLabels : false,
				scaleOverride:true,
				scaleSteps : 5,
				scaleStepWidth : 10,
				scaleStartValue : 0,
				pointHitDetectionRadius : 3,
				scaleGridLineWidth:0.4,
			}"
		>
       </canvas>
        <!-- 显示温度的数值 -->
        <span class="my-page11-textwendu"><i class="icon-wendu"></i>{{wenduCurrent}}℃</span>
    </div>



</div>


