/*body*/
/*|__my-main*/
/*   |——my-nav 对bootstrap的导航条进行一定的调整*/
/*   |__my-main-show*/
/*=============================================*/
/*@media  800~  500~800 200~500*/
/*|__my-nav */
/*   |__height*/
/*|__my-main-show*/
/*   |__height*/
/**/
/**/



html,body{/*全屏--*/
	margin: 0px;
	width: 100%;
	height: 100% 
	
}

/*-------------------*/
/*主页面属性*/
/*----------------*/

body{
	/*overflow:hidden;没有滚动条*/
	padding-top: 50px;/*为了一直浮动在顶部的nav预留位置*/
}
.my-main{/*底布*/
	width: 100%;
	height: 100%;
	background-color: rgb(12,255,255);
}
/*-------------------*/
/*导航图标集合*/
/*----------------*/
.my-nav{
	margin: 0px !important;
}

/*主界面的css---*/
.my-main-show{
	/*height:85%;/*导航条最多15%*/
	width: 100%;/*与.my-nav-toggle的width关系*/
	height: 100%;
	display: inline-block;
	position: relative;
}