/*my-page13-mainpage*/
/*|__my-page13-tongfengClass 通风等级表*/
/*   */
.my-page13-mainpage{
	width: 100%;
	height: 100%;
	background-color: white;
	position: relative;
}
.my-page13-tongfengClass{
	width: 80%;
	height: 40%;
	position: absolute;
	left: 4%;
	top: 4%;
	/*overflow-y: auto;/*如果内容溢出就提供滚动机制*/
}
.my-page13-tbody{
	height:100px;
	overflow-y:auto;
}

table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 120px;
    overflow-y: auto;
}

thead {
	overflow-y: scroll;
    /* fallback */
}


tbody th, thead th {
    width: 8.333333333%;
    float: left;
}