/**/
/*my-page12-mainpage*/
/*|__my-page12-wenduChat-day  24温度曲线*/
/*|__my-page12-wenduChat-month 一个月内最高，最低，平均的气温*/\
/*   |__my-page12-reflashDate 用于表头刷新数据的按钮位置*/
/*		|__my-page12-rotate 旋转动画*/
/*|__my-page12-shiduChat-day 24小时湿度*/
/*|__my-page12-shiduChat-month  一个月湿度*/
/*   |__my-page12-reflashDate 用于表头刷新数据的按钮位置*/
/*		|__my-page12-rotate 旋转动画*/

/*主页面*/
.my-page12-mainpage{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: white;
	
}
/*用于表头刷新数据的按钮位置*/
.my-page12-reflashDate{
	font-size: 26px;

}
/*旋转动画*/
.my-page12-rotate{
	animation: spin 3s linear infinite;
}
@keyframes spin {
0% {
   	transform:rotate(0deg);
 }
 100% {
   	transform:rotate(-360deg);
 }
}

/*温湿度图表*/
/*pc*/
@media all and (min-width: 400px){/*当宽度400~的所有情况*/
	.my-page12-wenduChat-day{
		width:35%;
		height:20%;/*控制不了他的高度，与宽度成比例关系*/
		position: absolute;
		top: 2%;
		left: 5%;
		display: inline-block;
	}
}

@media all and (max-width: 400px){/*当宽度0-400的所有情况*/

}
/*一个月内最高，最低，平均的气温*/
/*pc*/
@media all and (min-width: 400px){/*当宽度400~的所有情况*/
	.my-page12-wenduChat-month{
		width:35%;
		height:20%;
		position:absolute;
		top: 2%;
		left: 50%;
		display: inline-block;
	}
}

@media all and (max-width: 400px){/*当宽度0-400的所有情况*/
	
}
/*24x小时湿度*/
/*pc*/
@media all and (min-width: 400px){/*当宽度400~的所有情况*/
	.my-page12-shiduChat-day{
		width: 35%;
		height: 20%;
		position: absolute;
		left: 5%;
		top: 50%;
	}
}

@media all and (max-width: 400px){/*当宽度0-400的所有情况*/
	
}

/*一个月湿度*/
/*pc*/
@media all and (min-width: 400px){/*当宽度400~的所有情况*/
	.my-page12-shiduChat-month{
		width: 35%;
		height: 20%;
		position: absolute;
		left: 50%;
		top: 50%;
	}
}

@media all and (max-width: 400px){/*当宽度0-400的所有情况*/
	
}