
<div class="my-p2-mainbody" ng-controller="text2">
	<div class="my-p2-equimentlist">
		<!-- 设备列表$root.equiments在app.js中 -->
		<a class="my-p2-equiment" ng-repeat="eq in $root.equiments" ng-click="showdetail('lg',$index)">
			<div class="my-p2-equiment1">
				<div class="icon-guangzhao my-p2-iconshow"></div>
				<div class="my-p2-equimenttext">照明1</div>
			</div>
		</a>
	</div>


	<!-- 弹出的框内容开始  -->
	<script type="text/ng-template" id="myModalContent.html">
        <div >
        	{{myindex}}
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            {{ myindex }}aaaaa
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
	</script>
	<!-- 弹出的框内容结束  -->


</div>
