<!-- 实时视频监控与设备开关监控 -->
<!-- css -->

<link rel="stylesheet" href="/my_css/page5_video_css/page51_videoShow.css">
<!-- js -->
<script src="/js/page51_videoShow.js"></script>
<!-- 
 -->

<div class="my-page51-main" ng-controller="page51_mainvideoCtrl">  
	<!-- 用于手机端时演示 rtsp://admin:wumingyu12@10.33.51.187:554/h264/ch1/main/av_stream-->
	<video autoplay class="my-page51-phonevido1" src="rtsp://admin:wumingyu12@10.33.35.14:554/h264/ch1/main/av_stream">111</video>
	<div class="my-page51-buttonform-phone">
		<button style="font-size:30px" ng-mousedown="hkptzResetful('1','panright','30')" ng-mouseup="hkptzResetful('1','stop','30')">左</button>
		<button ng-mousedown="hkptzResetful('1','panleft','30')" ng-mouseup="hkptzResetful('1','stop','30')">右</button>
		<button ng-mousedown="hkptzResetful('1','tiltup','30')" ng-mouseup="hkptzResetful('1','stop','30')" >上</button>
		<button ng-mousedown="hkptzResetful('1','tiltdown','30')" ng-mouseup="hkptzResetful('1','stop','30')">下</button>
		<button ng-mousedown="hkptzResetful('1','zoomfar','30')" ng-mouseup="hkptzResetful('1','stopzoom','30')">近</button>
		<button ng-mousedown="hkptzResetful('1','zoomnear','30')" ng-mouseup="hkptzResetful('1','stopzoom','30')">远</button>
	</div>

	<script type ="text/javascript" src="/frame/jwplayer/jwplayer.js"></script>
		<!-- 视频1 -->
		<div  class="my-page51-video1">
			<div id = "my-page51-videocontainer1">小屏幕不在浏览器内播放视频 ...</div>
	    	<script type = "text/javascript" >
	    		//根据屏幕判断如果是大于400px的屏幕，就是非手机，就用rtmp播放器播放，否则就让手机直接播放rtsp
	    		if($(window).width()>400){
	    			my_page51_thePlayer1 =jwplayer ( "my-page51-videocontainer1" ). setup ({

	                          flashplayer : "/frame/jwplayer/jwplayer.flash.swf" ,//指定播放器
	                          //file:"rtmp://localhost/oflaDemo/hello",
	                          //file : "/view/tes.mp4",//本地
	                          //file:"rtmp://202.117.80.19:1935/live/live1",//cctv5
	                          //file:"rtmp://"+window.location.hostname+"/live/livestream", //用默认端口1935，用srs

	                          file:"rtmp://10.33.51.103:1935/live/livestream/1", //用默认端口1935，用srs
	                          //file:"rtmp://"
	                          height : 480 ,

	                          width : 720

	      			});
	      			my_page51_thePlayer1.play(true);//一开始就自动播放
	    		}else{
	    		}
			</script>
			<!-- 视频1的控制 -->
			<div class="my-page51-video1-ptz"><!-- 按下时发送连续运动命令，松开时发送停止命令 -->
				<button ng-mousedown="hkptzResetful('1','panright','30')" ng-mouseup="hkptzResetful('1','stop','30')">左</button>
				<button ng-mousedown="hkptzResetful('1','panleft','30')" ng-mouseup="hkptzResetful('1','stop','30')">右</button>
				<button ng-mousedown="hkptzResetful('1','tiltup','30')" ng-mouseup="hkptzResetful('1','stop','30')" >上</button>
				<button ng-mousedown="hkptzResetful('1','tiltdown','30')" ng-mouseup="hkptzResetful('1','stop','30')">下</button>
				<button ng-mousedown="hkptzResetful('1','zoomfar','30')" ng-mouseup="hkptzResetful('1','stopzoom','30')">近</button>
				<button ng-mousedown="hkptzResetful('1','zoomnear','30')" ng-mouseup="hkptzResetful('1','stopzoom','30')">远</button>
			</div>
		</div>
		<!-- 视频1的控制 -->

		<!-- 视频2 -->
		<div class="my-page51-video2">
			<div id = "my-page51-videocontainer2" class="my-page51-video2">小屏幕不在浏览器内播放视频 ...</div>
		    <script type = "text/javascript" >
		    	if($(window).width()>400){
		    		my_page51_thePlayer2 =jwplayer ( "my-page51-videocontainer2" ). setup ({

		                          flashplayer : "/frame/jwplayer/jwplayer.flash.swf" ,//指定播放器

		                          //file : "/view/tes.mp4",//本地
		                          //file:"rtmp://202.117.80.19:1935/live/live1",//cctv5
		                          //file:"rtmp://"+window.location.hostname+"/live/livestream1",
		                          file:"rtmp://10.33.51.103:1935/live/livestream/2", //用默认端口1935，用srs
		                          //file: "http://bcs.duapp.com/images-link/sample.mp4",
		                          height : 480 ,

		                          width : 720

		      		});
		      		my_page51_thePlayer2.play(true);//一开始就自动播放
		    	}


			</script>
			<!-- 视频2的ptz控制 -->
			<div class="my-page51-video1-ptz"><!-- 按下时发送连续运动命令，松开时发送停止命令 这里的速度用30，第二个个1900元的速度太快-->
				<button ng-mousedown="hkptzResetful('2','panleft','30')" ng-mouseup="hkptzResetful('2','stop','60')">左</button>
				<button ng-mousedown="hkptzResetful('2','panright','30')" ng-mouseup="hkptzResetful('2','stop','60')">右</button>
				<button ng-mousedown="hkptzResetful('2','tiltup','30')" ng-mouseup="hkptzResetful('2','stop','60')" >上</button>
				<button ng-mousedown="hkptzResetful('2','tiltdown','30')" ng-mouseup="hkptzResetful('2','stop','60')">下</button>
				<button ng-mousedown="hkptzResetful('2','zoomfar','30')" ng-mouseup="hkptzResetful('2','stopzoom','60')">近</button>
				<button ng-mousedown="hkptzResetful('2','zoomnear','30')" ng-mouseup="hkptzResetful('2','stopzoom','60')">远</button>
			</div>
		</div>
</div>