<!-- 实时视频监控与设备开关监控 -->
<!-- css -->
<link rel="stylesheet" href="/my_css/page5_video_css/page51_videoShow.css">
<!-- js -->
<script src="/js/page51_videoShow.js"></script>



<div class="my-page51-main" ng-controller="page51_mainvideoCtrl">  
	<script type ="text/javascript" src="/frame/jwplayer/jwplayer.js"></script>
		<!-- 视频1 -->
		<div  class="my-page51-video1">
			<div id = "my-page51-videocontainer1">Loading the player ...</div>
	    	<script type = "text/javascript" >
	        	my_page51_thePlayer1 =jwplayer ( "my-page51-videocontainer1" ). setup ({

	                          flashplayer : "/frame/jwplayer/jwplayer.flash.swf" ,//指定播放器

	                          //file : "/view/tes.mp4",//本地
	                          //file:"rtmp://202.117.80.19:1935/live/live1",//cctv5
	                          file:"rtmp://"+window.location.hostname+"/live/livestream", //用默认端口1935，用srs
	                          //file:"rtmp://"
	                          height : 480 ,

	                          width : 720

	      		});
	      		my_page51_thePlayer1.play(true);//一开始就自动播放
			</script>
			<!-- 视频1的控制 -->
			<div class="my-page51-video1-ptz"><!-- 按下时发送连续运动命令，松开时发送停止命令 -->
				<button ng-mousedown="hkptzResetful('1','panleft','60')" ng-mouseup="hkptzResetful('1','stop','60')">左</button>
				<button ng-mousedown="hkptzResetful('1','panright','60')" ng-mouseup="hkptzResetful('1','stop','60')">右</button>
				<button ng-mousedown="hkptzResetful('1','tiltup','60')" ng-mouseup="hkptzResetful('1','stop','60')" >上</button>
				<button ng-mousedown="hkptzResetful('1','tiltdown','60')" ng-mouseup="hkptzResetful('1','stop','60')">下</button>
				<button ng-mousedown="hkptzResetful('1','zoomfar','60')" ng-mouseup="hkptzResetful('1','stopzoom','60')">近</button>
				<button ng-mousedown="hkptzResetful('1','zoomnear','60')" ng-mouseup="hkptzResetful('1','stopzoom','60')">远</button>
			</div>
		</div>
		<!-- 视频1的控制 -->

		<!-- 视频2 -->
		<div class="my-page51-video2">
			<div id = "my-page51-videocontainer2" class="my-page51-video2">Loading the player ...</div>
		    <script type = "text/javascript" >
		       my_page51_thePlayer2 =jwplayer ( "my-page51-videocontainer2" ). setup ({

		                          flashplayer : "/frame/jwplayer/jwplayer.flash.swf" ,//指定播放器

		                          //file : "/view/tes.mp4",//本地
		                          //file:"rtmp://202.117.80.19:1935/live/live1",//cctv5
		                          file:"rtmp://"+window.location.hostname+"/live/livestream1",
		                          //file: "http://bcs.duapp.com/images-link/sample.mp4",
		                          height : 480 ,

		                          width : 720

		      });
		      my_page51_thePlayer2.play(true);//一开始就自动播放

			</script>
			<!-- 视频2的ptz控制 -->
			<div class="my-page51-video1-ptz"><!-- 按下时发送连续运动命令，松开时发送停止命令 这里的速度用30，第二个个1900元的速度太快-->
				<button ng-mousedown="hkptzResetful('2','panleft','30')" ng-mouseup="hkptzResetful('2','stop','60')">左</button>
				<button ng-mousedown="hkptzResetful('2','panright','30')" ng-mouseup="hkptzResetful('2','stop','60')">右</button>
				<button ng-mousedown="hkptzResetful('2','tiltup','30')" ng-mouseup="hkptzResetful('2','stop','60')" >上</button>
				<button ng-mousedown="hkptzResetful('2','tiltdown','30')" ng-mouseup="hkptzResetful('2','stop','60')">下</button>
				<button ng-mousedown="hkptzResetful('2','zoomfar','30')" ng-mouseup="hkptzResetful('2','stopzoom','60')">近</button>
				<button ng-mousedown="hkptzResetful('2','zoomnear','30')" ng-mouseup="hkptzResetful('2','stopzoom','60')">远</button>
			</div>
		</div>
</div>