<!DOCTYPE html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>漂亮的蓝天白云404错误代码下载 - 魔客吧 www.moke8.com</title>
<meta http-equiv="refresh" content="60;url=http://www.moke8.com/">
<!-- content="60，即60秒后返回主页，可根据需要修改或者删除这段代码 -->
<link href="/view/static/404/error.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 代码 开始 -->
<div id="container"><img class="png" src="/view/static/404/404.png" /> <img class="png msg" src="view/static/404/404_msg.png" />
  <p><a href="http://www.baidu.com/" target="_blank"><img class="png" src="/view/static/404/404_to_index.png" /></a> </p>
</div>
<div id="cloud" class="png"></div>
<!-- 代码 结束 -->

 
</body>
</html>